motor
aiohttp
python-telegram-bot==20.6
pymongo 
pyrate-limiter==3.1.0
apscheduler==3.6.3
pyrogram==2.0.100
python-dotenv
cachetools
requests
bs4
aiogram
ffmpeg-python
pillow==9.5.0
telegraph
pyttsx3
psutil
nekos.py
APScheduler
tgcrypto 